.navbar-items {
    margin-left: auto;
}

a {
    margin-right: 25px;
    text-align: center;
}

.navbar-start {
    position: auto;
    margin-left: auto;
}

.navbar-contact {

}
.navbar-messages {

}


.navbar-end {
    position: auto;
    
}