.navbar-items {
    margin-left: auto;
}

a {
    margin-right: 25px;
    text-align: center;
}

.navbar-start {
    position: auto;
    margin-left: auto;
}



.navbar-end {
    position: auto;
    
}