<div class="navbar bg-neutral text-neutral-content">
  <a routerLink="/" class="btn btn-ghost text-xl">StudySync</a>
    <div class="navbar-items">
        <a routerLink="/" class="navbar-start">Home</a>
        <a routerLink="/contact" class="navbar-contact">Contact</a>
        <a routerLink="/messages" class="navbar-messages">Messages</a>
        <a routerLink="/myStudyPartners" class="navbar-myStudyPartners">My Study Partners</a>
        <a routerLink="/login" class="navbar-end">Login</a>
    </div>
</div>